:root {
  --profiles-bg-color: #FFFDF7;
  --main-btn-color:  #2CA58D;
  --main-btn-hover-color:  #0C856D;
  --main-bg-color: #0A2342;
  --header-color: #84BC9C;
}

@font-face {
  font-family: WorkSansRegular;
  src: url(fonts/work-sans/WorkSans-Regular.woff2);
}

* {
  font-family: WorkSansRegular;
}

@keyframes hide-profile {
  from {
    transform: translateX(0%)
  }
  30% {
    transform: translateX(5%)
  }

  to {
    transform: translateX(-100%)
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "WorkSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gutter {
  background-color: var(--main-bg-color);
}

#main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--header-color);
}

#users-list {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 3%;
  height: 90vh;
}

/** Header **/
.header {
  position: sticky;
  top: 0;
  background-color: var(--header-color);
}

.header .logout-col {
  position: relative;
  top: 10px;
}

.header .header-img {
  border-radius: 50%;
  padding-top: 5px;
}

.header .header-text {
  position: relative;
  top: 5px;
  font-size: 24px;
  margin-left: 1%;
}

/** Footer **/
.footer {
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  background-color: white;
  border-top: 1px solid gray;
}

.login {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/** LOADING BAR **/
.loading-bar {}

.loading-text {
  font-size: 30px;
  color: var(--main-btn-hover-color);
  margin: 0;
  position: absolute;
  top: 53%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.profile-loader {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/** PROFILE **/
.profile {
  padding: 5px 10px;
  line-height: 2em;
  background-color: var(--profiles-bg-color);
  border-radius: 10px;
  margin-top: 10px;
}

.identity {
  margin-bottom: 1em;
}

.profile .username {
  font-size: 1.5em;
}

.profile .description {
  font-size: 1em;
  font-style: italic;
  line-height: 1em;
  margin-bottom: 1em;
}

/* width */
::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/** BUTTON - OVERRIDE BOOTSTRAP **/
.btn {
  background-color: var(--main-btn-color) !important;
  border: none !important;
}

.btn:hover {
  background-color: var(--main-btn-hover-color) !important;
}

.logout-btn {
  max-width: 100px;
}

.follow-btn  {
  width: 100px !important;
}

.hide-btn {
  width: 100px !important;
}

/* Toast */
.toast-container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translate(-50%);
}

.hide-slide {
  animation-duration: .5s;
  animation-name: hide-profile;
}

/* Tweets */
.tweet-container {
  margin-bottom: 10px;
}

.tweet-margin {
  border-right: 3px solid gray;
}

.tweet-row {
  font-size: 14px;
}